@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
    --yel: #f4d04e;
}
body {
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4d04e;
}
.box {
    justify-content: flex-start;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 375px;
    width: 50%;
    box-shadow: 10px 10px 0;
    outline: 1px solid;
    background: hsl(0, 0%, 100%);
}
.svg {
    border-radius: 7.5px;
}
.learn {
    margin: 15px 0px 5px;
    font-weight: 800;
    align-self: flex-start;
    border-radius: 5px;
    padding: 5px 10px;
    background: var(--yel);
}
.date {
    font-weight: 500;
}
p {
    margin: 0.5rem 0;
}

.found {
    font-size: 23px;
    font-weight: 800;
}
.rest {
    color: hsl(0, 0%, 50%);
}
.logo {
    display: flex;
    align-items: center;
    height: 50px;
}
.pic {
    width: 35px;
}
.name {
    margin: 10px;
    font-weight: 800;
}
